<tbody><tr role="row" class="odd"><td class="sorting_1"><input type="checkbox"></td><td><div class="btn-group" role="group" aria-label="...">
    <a href="http://pg-tst.tk/larapars/admin/companies/1" type="button" class="btn btn-sm btn-info">
        <i class="fa fa-eye"></i>
    </a>
    <a href="http://pg-tst.tk/larapars/admin/companies/1/edit" type="button" class="btn btn-sm btn-success">
        <i class="fa fa-edit"></i>
    </a>
</div></td><td>Автосалон АлеаАвто</td><td>1</td><td></td><td>https://avtosalon-otzyv.ru/avtosalon-aleaavto/</td><td>http://alea-auto.ru</td><td>г. Москва, м. Ясенево, 38 км МКАД с. 6б стр.11</td><td>https://avtosalon-otzyv.ru/</td><td>Avtosalon otzyv</td><td>1</td><td>2018-09-22 11:04:46</td><td>2018-09-22 22:17:33</td></tr><tr role="row" class="even"><td class="sorting_1"><input type="checkbox"></td><td><div class="btn-group" role="group" aria-label="...">
    <a href="http://pg-tst.tk/larapars/admin/companies/2" type="button" class="btn btn-sm btn-info">
        <i class="fa fa-eye"></i>
    </a>
    <a href="http://pg-tst.tk/larapars/admin/companies/2/edit" type="button" class="btn btn-sm btn-success">
        <i class="fa fa-edit"></i>
    </a>
</div></td><td>Автосалон Престиж</td><td>2</td><td></td><td>https://avtosalon-otzyv.ru/avtosalon-prestizh/</td><td>http://www.prestige-kzn.ru/</td><td>г. Казань, ул. Рихарда Зорге 66</td><td>https://avtosalon-otzyv.ru/</td><td>Avtosalon otzyv</td><td>0</td><td>2018-09-22 11:04:46</td><td>2018-09-22 11:04:46</td></tr><tr role="row" class="odd"><td class="sorting_1"><input type="checkbox"></td><td><div class="btn-group" role="group" aria-label="...">
    <a href="http://pg-tst.tk/larapars/admin/companies/3" type="button" class="btn btn-sm btn-info">
        <i class="fa fa-eye"></i>
    </a>
    <a href="http://pg-tst.tk/larapars/admin/companies/3/edit" type="button" class="btn btn-sm btn-success">
        <i class="fa fa-edit"></i>
    </a>
</div></td><td>Автосалон МОДУСМОТОРС — Отзывы</td><td>3</td><td>+7 (495) 369-94-12</td><td>https://otziv-avto.ru/avtosalon-modus-motors-otzyvy/</td><td></td><td>Адрес: г. Москва, ул. Дубнинская, д. 83</td><td>https://otziv-avto.ru/msk</td><td>Otzyv avto</td><td>0</td><td>2018-09-22 11:04:46</td><td>2018-09-22 11:04:46</td></tr><tr role="row" class="even"><td class="sorting_1"><input type="checkbox"></td><td><div class="btn-group" role="group" aria-label="...">
    <a href="http://pg-tst.tk/larapars/admin/companies/4" type="button" class="btn btn-sm btn-info">
        <i class="fa fa-eye"></i>
    </a>
    <a href="http://pg-tst.tk/larapars/admin/companies/4/edit" type="button" class="btn btn-sm btn-success">
        <i class="fa fa-edit"></i>
    </a>
</div></td><td>Автосалон АвтоДиалог — Отзывы</td><td>4</td><td>8 (499) 643-46-19</td><td>https://otziv-avto.ru/avtosalon-avtodialog-otzyvy/</td><td></td><td>Адрес: г. Москва, Проспект Вернадского, дом 33</td><td>https://otziv-avto.ru/msk</td><td>Otzyv avto</td><td>12</td><td>2018-09-22 11:04:46</td><td>2018-09-22 11:04:46</td></tr></tbody>