select * from `users` where `id` = '1' limit 1
9.63ms
\vendor\laravel\framework\src\Illuminate\Auth\EloquentUserProvider.php:52
xdev_db
select count(*) as aggregate from (select `companies`.*, COUNT(reviews.id) as reviews_count from `companies` inner join `reviews` on `reviews`.`company_id` = `companies`.`id` inner join `donors` on `donors`.`id` = `companies`.`donor_id` group by `id`) count_row_table
1.69ms
\vendor\yajra\laravel-datatables-oracle\src\QueryDataTable.php:136
xdev_db
select `companies`.*, COUNT(reviews.id) as reviews_count from `companies` inner join `reviews` on `reviews`.`company_id` = `companies`.`id` inner join `donors` on `donors`.`id` = `companies`.`donor_id` group by `id` order by `reviews_count` asc limit 10 offset 0
1.9ms
\vendor\yajra\laravel-datatables-oracle\src\QueryDataTable.php:186
xdev_db
select * from `donors` where `donors`.`id` in ('1', '2')
960μs
\vendor\yajra\laravel-datatables-oracle\src\QueryDataTable.php:186
xdev_db
select * from `reviews` where `reviews`.`company_id` in ('1', '3', '4')