@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/_utilities';
@import '~sb-admin-2/vendor/bootstrap/css/bootstrap.css';
@import '~sb-admin-2/vendor/metisMenu/metisMenu.min.css';
@import '~sb-admin-2/vendor/datatables/css/dataTables.bootstrap.css';
@import '~sb-admin-2/dist/css/sb-admin-2.css';
@import '~font-awesome/scss/font-awesome';
@import "~select2/dist/css/select2.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap";
@import "~toastr/toastr";

@media (min-width: 768px) {
  #page-wrapper {
    margin: 0 0 0 175px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 175px;
  }
}

.spinner {
  opacity: 0;
  .loading & {
    opacity: 1;
  }
}

.actions {
  opacity: 0;
  .has-actions:hover &, tr:hover & {
    opacity: 1;
  }
}

.select-medium {
  width: 240px;
  display: inline-block;
}

.w-40 {
  width: 40%;
}

.data_choice--col, .data_choice--arrow {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.data_choice--arrow {
  text-align: center;
  &__click {
    i {
      font-size: 2em;
      transform: rotateZ(90deg);
    }
  }
}

@media (min-width: 768px) {
  .data_choice--col, .data_choice--arrow {
    float: left;
  }
  .data_choice--col {
    width: 100%*(5.75/12);
  }
  .data_choice--arrow {
    width: 100%*(0.5/12);
    padding-left: 0;
    padding-right: 0;
    &__click {
      margin-top: 20px;
      i {
        transform: rotateZ(0);
      }
    }
  }
}

.show-if-group, .show-if-group + .select2{
  display: none;
  .selected-group & {
    display: inline-block;
  }
}

.like-review{
  @extend .text-dark;
  .review-good & {
    @extend .text-success;
  }
}

.dislike-review{
  @extend .text-dark;
  .review-bad & {
    @extend .text-danger;
  }
}

.logs__table{
  font-size: 0.85em;
  & td:first-child{
    width: 150px;
  }
}


.parser__stop{
  display: none;
}
.parser--is-parsing{
  .parser__stop{
    display: inline-block;
  }
  .parser__start{
    display: none;
  }
}